 body{
    padding: 0;
    height: 100%;
    margin: 0;
    width: 100%;

}
html{
    zoom: 0.5;
}



.lineHorisontal{
position: absolute;
top: 50%;
left: 10%;
right: 10%;
opacity: 0.1;
border-top: 1px solid #42567A;

}
.rightLine {
position: absolute;
height: 100%;
left: 90%;
opacity: 0.1;
border-right: 1px solid #42567A;
}
.lineVertical{
/* Vector 4 */
position: absolute;
height: 100%;
left: 50%;
top: 0px;
opacity: 0.1;
border-right: 1px solid #42567A;
}

.leftLine {
    /* Vector 1 */
position: absolute;
height: 100%;
left: 10%;
opacity: 0.1;
border-right: 1px solid #42567A;

}

.cercle {
 position: absolute;
   top: 50%;
   left: 51.5%;
   width: 50%;
   max-width: 600px;
   aspect-ratio: 1 / 1;
   transform: translate(-50%, -50%);
   border-radius: 50%;
  border: 1px solid rgba(66, 86, 122, 0.2);
}

.gradientHeader{
    /* Vector 17 */
background-image: linear-gradient(blue 25%, pink 75%);
position: absolute;
max-width: 0.5rem;
min-width: 0.2rem;
width: 1.5rem;
height: 8.5%;
left: 10%;
top: 12%;
}
.headerName{

position: absolute;
max-width: 353px;
max-height: 134px;
left: 17%;
top: 12%;

font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 3.5rem;

/* Black blue */
color: #42567A;


}

.yearsStartEnd{
    font-size: 18vw;
    position: absolute;

    left: 51.5%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.buttonLeft{
    /* Group 3277 */
border: none;
background-color: #42567a00;
opacity: 0.5;
  transition: color .2s, opacity .2s;
position: absolute;
max-width: 50px;
max-height: 50px;
left: 17%;
top: 67%;



}
.buttonLeft:hover{
    background-color: #42567a00;
    opacity: 1;
    /* background-color: #42567a93;
    border-radius: 50%; */
    
}
.buttonLeft:hover svg circle,
.buttonLeft:hover svg path {
  stroke-width: 3;              /* новая, «жирнее» толщина */
}

.buttonRight{
/* Group 28422798 */
border: none;
background-color: #42567a00;
opacity: 0.5;
transition: color .2s, opacity .2s;
position: absolute;
width: 50px;
height: 50px;
left: 20%;
top: 67%;
}
.buttonRight:hover{
    background-color: #42567a00;
    opacity: 1;
    /* background-color: #42567a93;
    border-radius: 50%; */
    
}
.buttonRight:hover svg circle,
.buttonRight:hover svg path {
  stroke-width: 3;              /* новая, «жирнее» толщина */
}

.descriptionEvents{
    display: flex;
    flex: 1;
    
    
    /* margin: 0 20% 0 16%; */
}

.descriptionText{
    border: 1px solid brown;
    white-space: wrap;
    

    /* width: 400px;
    height: 90px; */
    

font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */

/* Black blue */
color: #42567A;


}


/* классы для скрола текста*/
.viewport{
    flex: 1;
    width: 66%;          /* или любая фиксированная/процентная ширина */
    /* margin: 0 10% 0 10%; */
    overflow: hidden;    /* скрываем всё, что выходит за пределы */
    /* position: absolute; */
    /* top: 75%;
    left: 18%; */
}

.track {
    display: flex;
    /* Плавный переход при изменении transform */
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 100%;      /* каждый слайд занимает всю ширину viewport */
    display: flex;
    /* при желании gap между элементами внутри слайда */
  }
  
  .slideItem {
    padding: 0 25px;
  }

  .btnCarouselLeft{
    position: absolute;
    top: 80%;
    left: 15%;
    background: none;
    border-radius: 50% ;
    font-size: 2rem;
  }

  .btnCarouselRight{
    position: absolute;
    top: 80%;
    left: 85%;
    background: none;
    border-radius: 60% ;
    font-size: 2rem;
  }

  .bigYears{
    margin: 2rem;
    color: #5D5FEF ;
    font-family: PT Sans;
    font-weight: 700;
  }
  










  




.carouselWrapper {
  max-width: 80%;
  display: flex;
  align-items: center;
  /* width: 100%; */
  box-sizing: border-box;
  padding: 0 1rem; /* по бокам отступы */
}



/*  СТИЛИ Круга */


.dot{
    position: absolute;
    background: black;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 50%;
    top:50%;
    transform-origin: center center;
}


.hoveredBlock {
    border: 1px solid black;
    border-radius: 50%;
    width: 0;
    height: 0;
    font-size: 0px;
    transform: translate(50%, 50%);
        z-index: 1;
}


.dot:hover{
width: 56px;
height: 56px;
background: #F4F5F9;
border: 1px solid rgba(48, 62, 88, 0.5);
    width: 25px;
    height: 25px;
    font-size: 20px;
    z-index: 1;
}

